@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
}

-webkit-@keyframes go {
	0% {
	background-image: url(../img/img-1.jpg)
	}
	33% {
		background-image: url(../img/img-2.jpg)
	}
	66%{
		background-image: url(../img/img-3.jpg)
	}
	100%{
		background-image: url(../img/img-1.jpg)
	}
}

@keyframes go {
	0% {
	background-image: url(../img/img-1.jpg)
	}
	33% {
		background-image: url(../img/img-2.jpg)
	}
	66%{
		background-image: url(../img/img-3.jpg)
	}
	100%{
		background-image: url(../img/img-1.jpg)
	}
}

.container {
	background-size: contain;
	-webkit-animation: go 15s linear infinite;
	animation: go 15s linear infinite;
}
